@model MVC_Project_Part2.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Menu cart";
}
<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @Html.ActionLink("Checkout >> ", "AddressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.ItemID">
            <td>
                @Html.ActionLink(item.ItemID.ToString(), "Details", "Store", new { id = item.ItemID }, null)
            </td>
            <td>
                @item.ItemID
            </td>
            <td id="item-count-@item.Count">
                @item.Count
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.ItemID">Remove from cart</a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>
